body {
  padding: 0;
  margin: 0;
}
.el-card.is-always-shadow,
.el-card.is-hover-shadow:focus,
.el-card.is-hover-shadow:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.main-card {
  min-height: calc(100vh - 126px);
}
.operation-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  margin-top: 2.25rem;
}
.pagination-container {
  float: right;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.dialog-title-container {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.dialog-title-container i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.v-note-wrapper.fullscreen {
  height: 100vh !important;
}

.title {
  position: absolute;
  left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #202a34;
}
.title::before {
  content: '';
  width: 24px;
  height: 16px;
  border-left: 3px solid #0081ff;
  margin-right: 20px;
}

.smaller-btn {
  padding: 5px;
}
.word-limit-input {
  padding-right: 50px;
}
.word-limit-input2 {
  padding-right: 60px;
}

.side-nav-bar .el-scrollbar__wrap {
  overflow-x: hidden !important;
}
.side-nav-bar .el-icon-arrow-right:before {
  display: none;
}

.myScrollbar {
  height: 100%;
  overflow: auto;
  scrollbar-color: rgba(144, 147 153, 0.3) transparent;
  scrollbar-width: thin;
}
.myScrollbar ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.myScrollbar ::-webkit-scrollbar-button {
  display: none;
}
.myScrollbar ::-webkit-scrollbar-track {
  background: transparent;
}
.myScrollbar ::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
.myScrollbar ::-webkit-scrollbar-thumb {
  background: rgba(144, 147, 153, 0.3);
  cursor: pointer;
  border-radius: 2px;
}
.myScrollbar ::-webkit-scrollbar-corner {
  display: none;
}
.myScrollbar ::-webkit-resizer {
  display: none;
}