<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.Article">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="articleTitle" column="article_title" jdbcType="VARCHAR"/>
            <result property="articleCover" column="article_cover" jdbcType="VARCHAR"/>
            <result property="articleContent" column="article_content" jdbcType="VARCHAR"/>
            <result property="topFlag" column="top_flag" jdbcType="BOOLEAN"/>
            <result property="draftFlag" column="draft_flag" jdbcType="BOOLEAN"/>
            <result property="publicFlag" column="public_flag" jdbcType="BOOLEAN"/>
            <result property="hiddenFlag" column="hidden_flag" jdbcType="BOOLEAN"/>
            <result property="recycleFlag" column="recycle_flag" jdbcType="BOOLEAN"/>
            <result property="deletedFlag" column="deleted_flag" jdbcType="BOOLEAN"/>
            <result property="commentableFlag" column="commentable_flag" jdbcType="BOOLEAN"/>
            <result property="ipSource" column="ip_source" jdbcType="VARCHAR"/>
            <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="publishUser" column="publish_user" jdbcType="INTEGER"/>
            <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="articlesBackDTOResultMap" type="com.iksling.blog.dto.ArticlesBackDTO">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="articleTitle" column="article_title"/>
        <result property="topFlag" column="top_flag"/>
        <result property="publicFlag" column="public_flag"/>
        <result property="hiddenFlag" column="hidden_flag"/>
        <result property="commentableFlag" column="commentable_flag"/>
        <result property="publishTime" column="publish_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="categoryName" column="category_name"/>
        <collection property="tagDTOList" ofType="com.iksling.blog.dto.LabelBackDTO">
            <id property="id" column="tag_id"/>
            <result property="label" column="tag_name"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,category_id,
        article_title,article_cover,article_content,
        top_flag,draft_flag,public_flag,
        hidden_flag,recycle_flag,deleted_flag,
        commentable_flag,ip_source,ip_address,
        create_user,create_time,update_user,
        update_time,publish_user,publish_time
    </sql>

    <select id="selectArticleBackDTOById" resultType="com.iksling.blog.dto.ArticleBackDTO">
        SELECT
        a.id,a.user_id,IF(a.category_id = -1,0,a.category_id) category_id,
        a.article_title,a.article_cover,a.article_content,
        a.top_flag,a.draft_flag,a.public_flag,
        a.hidden_flag,a.commentable_flag,atg.tag_id tagIdList
        FROM
        tb_article a
        LEFT JOIN (SELECT article_id, GROUP_CONCAT(tag_id) tag_id FROM tb_article_tag WHERE deleted_flag = false AND article_id = #{id} GROUP BY article_id) atg ON a.id = atg.article_id
        WHERE
        a.id = #{id}
        AND a.recycle_flag = false
        <if test="roleWeight > 300">
            AND user_id = #{userId}
        </if>
    </select>

    <select id="selectArticlesBackDTOCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        tb_article
        <where>
            1 = 1
            <choose>
                <when test="condition.type == 5">
                    AND draft_flag = true
                    AND recycle_flag = false
                </when>
                <when test="condition.type == 6">
                    AND recycle_flag = true
                    AND deleted_flag = false
                </when>
                <when test="condition.type == 7">
                    AND deleted_flag = true
                </when>
                <otherwise>
                    AND draft_flag = false
                </otherwise>
            </choose>
            <choose>
                <when test="roleWeight > 300">
                    AND user_id = #{userId}
                </when>
                <otherwise>
                    <if test="condition.userId != null">
                        AND user_id = #{condition.userId}
                    </if>
                </otherwise>
            </choose>
            <if test="condition.categoryId != null">
                AND category_id = #{condition.categoryId}
            </if>
            <if test="condition.keywords != null and condition.keywords != ''">
                AND article_title like concat('%', #{condition.keywords}, '%')
            </if>
            <if test="condition.tagIdList != null and condition.tagIdList.size() != 0">
                AND id in
                (
                SELECT
                ata.article_id
                FROM
                tb_article_tag ata
                WHERE
                ata.tag_id in
                <foreach collection="condition.tagIdList" item="tagId" index="index" open="(" separator="," close=")">
                    #{tagId}
                </foreach>
                )
            </if>
        </where>
    </select>

    <select id="selectArticlesBackDTO" resultMap="articlesBackDTOResultMap">
        SELECT
            a.id,a.user_id,ua.username,
            a.article_title,a.top_flag,a.public_flag,
            a.hidden_flag,a.commentable_flag,a.publish_time,
            a.update_time,c.category_name,t.id tag_id,
            t.tag_name
        FROM
            (
                SELECT
                    id,user_id,category_id,
                    article_title,top_flag,public_flag,
                    hidden_flag,commentable_flag,publish_time,
                    update_time
                FROM
                    tb_article
                <where>
                    1 = 1
                    <choose>
                        <when test="condition.type == 5">
                            AND draft_flag = true
                            AND recycle_flag = false
                        </when>
                        <when test="condition.type == 6">
                            AND recycle_flag = true
                            AND deleted_flag = false
                        </when>
                        <when test="condition.type == 7">
                            AND deleted_flag = true
                        </when>
                        <otherwise>
                            AND draft_flag = false
                        </otherwise>
                    </choose>
                    <choose>
                        <when test="roleWeight > 300">
                            AND user_id = #{userId}
                        </when>
                        <otherwise>
                            <if test="condition.userId != null">
                                AND user_id = #{condition.userId}
                            </if>
                        </otherwise>
                    </choose>
                    <if test="condition.categoryId != null">
                        AND category_id = #{condition.categoryId}
                    </if>
                    <if test="condition.keywords != null and condition.keywords != ''">
                        AND article_title like concat('%', #{condition.keywords}, '%')
                    </if>
                    <if test="condition.tagIdList != null and condition.tagIdList.size() != 0">
                        AND id in
                            (
                                SELECT
                                    ata.article_id
                                FROM
                                    tb_article_tag ata
                                WHERE
                                    ata.tag_id in
                                    <foreach collection="condition.tagIdList" item="tagId" index="index" open="(" separator="," close=")">
                                        #{tagId}
                                    </foreach>
                            )
                    </if>
                </where>
                ORDER BY
                    top_flag DESC,
                    id DESC
                LIMIT
                    #{condition.current}, #{condition.size}
            ) a
        LEFT JOIN tb_category c ON a.category_id = c.id
        LEFT JOIN tb_article_tag ata ON a.id = ata.article_id AND ata.deleted_flag = false
        LEFT JOIN tb_tag t ON ata.tag_id = t.id
        LEFT JOIN tb_user_auth ua ON a.user_id = ua.user_id
        ORDER BY
            a.top_flag DESC,
            a.id DESC,
            t.id ASC
    </select>
</mapper>
