<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.ArticleTagMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.ArticleTag">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="tagId" column="tag_id" jdbcType="INTEGER"/>
            <result property="articleId" column="article_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tag_id,article_id
    </sql>

    <delete id="deleteByTagIdList">
        DELETE
        FROM
            tb_article_tag
        WHERE
            tag_id in
            <foreach collection="tagIdList" item="tagId" index="index" open="(" separator="," close=")">
                #{tagId}
            </foreach>
    </delete>
</mapper>
