<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.Category">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="publicFlag" column="public_flag" jdbcType="BOOLEAN"/>
            <result property="hiddenFlag" column="hidden_flag" jdbcType="BOOLEAN"/>
            <result property="deletedFlag" column="deleted_flag" jdbcType="BOOLEAN"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,category_name,
        public_flag,hidden_flag,deleted_flag,
        create_user,create_time,update_user,
        update_time
    </sql>

    <select id="selectCategoriesBackDTOCount" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            tb_category
        <where>
            <choose>
                <when test="condition.type == 7">
                    deleted_flag = true
                </when>
                <otherwise>
                    deleted_flag = false
                </otherwise>
            </choose>
            <choose>
                <when test="roleWeight > 200">
                    AND user_id = #{userId}
                </when>
                <otherwise>
                    <if test="condition.userId != null">
                        AND user_id = #{condition.userId}
                    </if>
                </otherwise>
            </choose>
            <if test="condition.keywords != null and condition.keywords != ''">
                AND category_name LIKE concat('%', #{condition.keywords}, '%')
            </if>
        </where>
    </select>

    <select id="selectCategoriesBackDTO" resultType="com.iksling.blog.dto.CategoriesBackDTO">
        SELECT
            c.id,c.user_id,ua.username,
            c.category_name,c.public_flag,c.hidden_flag,
            c.create_time,c.update_time,IFNULL(a.article_count,0) articleCount
        FROM
            tb_category c
        LEFT JOIN tb_user_auth ua ON c.user_id = ua.user_id
        LEFT JOIN ( SELECT category_id,count(1) article_count FROM tb_article WHERE deleted_flag = false GROUP BY category_id ) a ON c.id = a.category_id
        <where>
            <choose>
                <when test="condition.type == 7">
                    c.deleted_flag = true
                </when>
                <otherwise>
                    c.deleted_flag = false
                </otherwise>
            </choose>
            <choose>
                <when test="roleWeight > 200">
                    AND c.user_id = #{userId}
                </when>
                <otherwise>
                    <if test="condition.userId != null">
                        AND c.user_id = #{condition.userId}
                    </if>
                </otherwise>
            </choose>
            <if test="condition.keywords != null and condition.keywords != ''">
                AND c.category_name LIKE concat('%', #{condition.keywords}, '%')
            </if>
        </where>
        ORDER BY
            c.id DESC
        LIMIT
            #{condition.current}, #{condition.size}
    </select>
</mapper>
