<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.ChatRecordMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.ChatRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="chatType" column="chat_type" jdbcType="INTEGER"/>
            <result property="chatContent" column="chat_content" jdbcType="VARCHAR"/>
            <result property="recalledFlag" column="recalled_flag" jdbcType="BOOLEAN"/>
            <result property="ipSource" column="ip_source" jdbcType="VARCHAR"/>
            <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,avatar,
        nickname,chat_type,chat_content,
        recalled_flag,ip_source,ip_address,
        create_user,create_time
    </sql>
</mapper>
