<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.Comment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="replyId" column="reply_id" jdbcType="INTEGER"/>
            <result property="articleId" column="article_id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="commentContent" column="comment_content" jdbcType="VARCHAR"/>
            <result property="recycleFlag" column="recycle_flag" jdbcType="BOOLEAN"/>
            <result property="deletedFlag" column="deleted_flag" jdbcType="BOOLEAN"/>
            <result property="ipSource" column="ip_source" jdbcType="VARCHAR"/>
            <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,reply_id,
        article_id,parent_id,comment_content,
        recycle_flag,deleted_flag,ip_source,
        ip_address,create_user,create_time
    </sql>

    <select id="listCommentsBackDTO" resultType="com.iksling.blog.dto.CommentsBackDTO">
        SELECT
            c.id,c.user_id,ua.username,
            a.article_title,c.comment_content,c.create_time,
            u.avatar,u.nickname,u2.nickname replyNickname
        FROM
            tb_comment c
        LEFT JOIN tb_article a ON c.article_id = a.id
        LEFT JOIN tb_user_auth ua ON c.user_id = ua.user_id
        LEFT JOIN tb_user u ON c.user_id = u.id
        LEFT JOIN tb_user u2 ON c.reply_id = u2.id
        <where>
            1 = 1
            <if test="condition.recycleFlag != null">
                AND c.recycle_flag = #{condition.recycleFlag}
            </if>
            <if test="condition.deletedFlag != null">
                AND c.deleted_flag = #{condition.deletedFlag}
            </if>
            <choose>
                <when test="roleWeight > 300">
                    <choose>
                        <when test="roleWeight le 400">
                            AND (c.user_id = #{userId} OR a.user_id = #{userId})
                            <if test="condition.userId != null">
                                AND c.user_id = #{condition.userId}
                            </if>
                        </when>
                        <otherwise>
                            AND c.user_id = #{userId}
                        </otherwise>
                    </choose>
                </when>
                <otherwise>
                    <if test="condition.userId != null">
                        AND c.user_id = #{condition.userId}
                    </if>
                </otherwise>
            </choose>
            <choose>
                <when test="condition.draftFlag == null || !condition.draftFlag">
                    AND a.article_title IS NOT NULL
                    <if test="condition.keywords != null and condition.keywords.trim() != ''">
                        AND a.article_title like concat('%', #{condition.keywords.trim()}, '%')
                    </if>
                </when>
                <otherwise>
                    AND a.article_title IS NULL
                </otherwise>
            </choose>
        </where>
        ORDER BY
            c.id DESC
        LIMIT
            #{condition.current}, #{condition.size}
    </select>

    <update id="updateCommentsStatus">
        UPDATE
            tb_comment
        SET
            deleted_flag = #{updateBatch.deletedFlag}
            <if test="updateBatch.recycleFlag != null">
                , recycle_flag = #{updateBatch.recycleFlag}
            </if>
        WHERE
            (
                id in
                <foreach collection="updateBatch.idList" item="id" index="index" open="(" separator="," close=")">
                    #{id}
                </foreach>
                <if test="updateBatch.recycleFlag != null and updateBatch.recycleFlag">
                    or parent_id in
                    <foreach collection="updateBatch.idList" item="id" index="index" open="(" separator="," close=")">
                        #{id}
                    </foreach>
                </if>
            )
            <if test="roleWeight > 300">
                AND (
                    user_id = #{userId} OR #{userId} = (SELECT a.user_id FROM tb_article a WHERE article_id = a.id)
                )
            </if>
            <if test="roleWeight > 100">
                AND deleted_flag = false
            </if>
    </update>
</mapper>
