<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.ExceptionLogMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.ExceptionLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="optUri" column="opt_uri" jdbcType="VARCHAR"/>
            <result property="optType" column="opt_type" jdbcType="INTEGER"/>
            <result property="optDesc" column="opt_desc" jdbcType="VARCHAR"/>
            <result property="optModule" column="opt_module" jdbcType="VARCHAR"/>
            <result property="optMethod" column="opt_method" jdbcType="VARCHAR"/>
            <result property="requestParam" column="request_param" jdbcType="VARCHAR"/>
            <result property="exceptionMessage" column="exception_message" jdbcType="VARCHAR"/>
            <result property="exceptionStackTrace" column="exception_stack_trace" jdbcType="VARCHAR"/>
            <result property="illegalFlag" column="illegal_flag" jdbcType="BOOLEAN"/>
            <result property="ipSource" column="ip_source" jdbcType="VARCHAR"/>
            <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,opt_uri,
        opt_type,opt_desc,opt_module,
        opt_method,request_param,exception_message,
        exception_stack_trace,illegal_flag,ip_source,
        ip_address,create_user,create_time
    </sql>

    <select id="selectExceptionLogsBackDTOCount" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            tb_exception_log
        <where>
            1 = 1
            <if test="condition.flag != null">
                AND illegal_flag = #{condition.flag}
            </if>
            <if test="condition.userId != null">
                AND user_id = #{condition.userId}
            </if>
            <if test="condition.categoryId != null">
                AND opt_type = #{condition.categoryId}
            </if>
            <if test="condition.startTime != null">
                AND create_time >= #{condition.startTime}
            </if>
            <if test="condition.endTime != null">
                AND create_time &lt;= #{condition.endTime}
            </if>
            <if test="condition.keywords != null and condition.keywords != ''">
                AND opt_module = #{condition.keywords}
            </if>
        </where>
    </select>

    <select id="selectExceptionLogsBackDTO" resultType="com.iksling.blog.dto.ExceptionLogsBackDTO">
        SELECT
            el.id,el.user_id,ua.username,
            el.opt_uri,el.opt_type,el.opt_desc,
            el.opt_module,el.opt_method,el.request_param,
            el.exception_message,el.exception_stack_trace,el.ip_source,
            el.ip_address,el.create_time
        FROM
            tb_exception_log el
        LEFT JOIN tb_user_auth ua ON el.user_id = ua.user_id
        <where>
            1 = 1
            <if test="condition.flag != null">
                AND el.illegal_flag = #{condition.flag}
            </if>
            <if test="condition.userId != null">
                AND el.user_id = #{condition.userId}
            </if>
            <if test="condition.categoryId != null">
                AND el.opt_type = #{condition.categoryId}
            </if>
            <if test="condition.startTime != null">
                AND el.create_time >= #{condition.startTime}
            </if>
            <if test="condition.endTime != null">
                AND el.create_time &lt;= #{condition.endTime}
            </if>
            <if test="condition.keywords != null and condition.keywords != ''">
                AND el.opt_module = #{condition.keywords}
            </if>
        </where>
        ORDER BY
            el.id DESC
        LIMIT
            #{condition.current}, #{condition.size}
    </select>
</mapper>
