<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.FriendLinkMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.FriendLink">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="linkUrl" column="link_url" jdbcType="VARCHAR"/>
            <result property="linkDesc" column="link_desc" jdbcType="VARCHAR"/>
            <result property="linkLogo" column="link_logo" jdbcType="VARCHAR"/>
            <result property="linkName" column="link_name" jdbcType="VARCHAR"/>
            <result property="deletedFlag" column="deleted_flag" jdbcType="BOOLEAN"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,link_url,
        link_desc,link_logo,link_name,
        deleted_flag,create_user,create_time,
        update_user,update_time
    </sql>

    <select id="selectFriendLinksBackDTOCount" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            tb_friend_link
        <where>
            <choose>
                <when test="condition.type == 7">
                    deleted_flag = true
                </when>
                <otherwise>
                    deleted_flag = false
                </otherwise>
            </choose>
            <if test="condition.userId != null">
                AND user_id = #{condition.userId}
            </if>
            <if test="condition.keywords != null and condition.keywords != ''">
                AND link_name LIKE concat('%', #{condition.keywords}, '%')
            </if>
        </where>
    </select>

    <select id="selectFriendLinksBackDTO" resultType="com.iksling.blog.dto.FriendLinksBackDTO">
        SELECT
            fl.id,fl.user_id,fl.link_url,
            fl.link_desc,fl.link_logo,fl.link_name,
            fl.create_time,ua.username
        FROM
            tb_friend_link fl
        LEFT JOIN tb_user_auth ua ON fl.user_id = ua.user_id
        <where>
            <choose>
                <when test="condition.type == 7">
                    fl.deleted_flag = true
                </when>
                <otherwise>
                    fl.deleted_flag = false
                </otherwise>
            </choose>
            <if test="condition.userId != null">
                AND fl.user_id = #{condition.userId}
            </if>
            <if test="condition.keywords != null and condition.keywords != ''">
                AND fl.link_name LIKE concat('%', #{condition.keywords}, '%')
            </if>
        </where>
        ORDER BY
            fl.id DESC
        LIMIT
            #{condition.current}, #{condition.size}
    </select>
</mapper>
