<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.Menu">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="order" column="order" jdbcType="BOOLEAN"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="isHidden" column="is_hidden" jdbcType="BOOLEAN"/>
            <result property="isDisabled" column="is_disabled" jdbcType="BOOLEAN"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,parent_id,
        path,icon,name,
        order,component,is_hidden,
        is_disabled,create_user,create_time,
        update_user,update_time
    </sql>

    <select id="listMenusByUserId" resultType="com.iksling.blog.entity.Menu">
        select distinct
            m.id, m.user_id, m.path,
            m.name, m.component, m.icon,
            m.parent_id, m.is_disabled
        from
            tb_user_role ur
        left join
            tb_role_menu rm on ur.role_id = rm.role_id
        left join
            tb_menu m on rm.menu_id = m.id
        where
            ur.user_id = #{userId}
        and
            m.is_hidden = 0
        order by
            m.order asc
    </select>
</mapper>
