<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.MultiDirMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.MultiDir">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="dirName" column="dir_name" jdbcType="VARCHAR"/>
            <result property="dirUrl" column="dir_url" jdbcType="VARCHAR"/>
            <result property="dirDesc" column="dir_desc" jdbcType="VARCHAR"/>
            <result property="dirCover" column="dir_cover" jdbcType="VARCHAR"/>
            <result property="isPublic" column="is_public" jdbcType="BOOLEAN"/>
            <result property="isHidden" column="is_hidden" jdbcType="BOOLEAN"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BOOLEAN"/>
            <result property="isDeletable" column="is_deletable" jdbcType="BOOLEAN"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,dir_name,
        dir_url,dir_desc,dir_cover,
        is_public,is_hidden,is_deleted,
        is_deletable,create_time,update_time
    </sql>
</mapper>
