<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.MultiDirMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.MultiDir">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="dirUrl" column="dir_url" jdbcType="VARCHAR"/>
            <result property="dirSize" column="dir_size" jdbcType="INTEGER"/>
            <result property="dirUnit" column="dir_unit" jdbcType="VARCHAR"/>
            <result property="dirPath" column="dir_path" jdbcType="VARCHAR"/>
            <result property="dirDesc" column="dir_desc" jdbcType="VARCHAR"/>
            <result property="dirName" column="dir_name" jdbcType="VARCHAR"/>
            <result property="dirCover" column="dir_cover" jdbcType="VARCHAR"/>
            <result property="publicFlag" column="public_flag" jdbcType="BOOLEAN"/>
            <result property="hiddenFlag" column="hidden_flag" jdbcType="BOOLEAN"/>
            <result property="deletedFlag" column="deleted_flag" jdbcType="BOOLEAN"/>
            <result property="deletableFlag" column="deletable_flag" jdbcType="BOOLEAN"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,dir_url,
        dir_size,dir_unit,dir_path,
        dir_desc,dir_name,dir_cover,
        public_flag,hidden_flag,deleted_flag,
        deletable_flag,create_user,create_time,
        update_user,update_time
    </sql>
</mapper>
