<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.OperationLogMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.OperationLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="optUri" column="opt_uri" jdbcType="VARCHAR"/>
            <result property="optType" column="opt_type" jdbcType="VARCHAR"/>
            <result property="optDesc" column="opt_desc" jdbcType="VARCHAR"/>
            <result property="optModule" column="opt_module" jdbcType="VARCHAR"/>
            <result property="optMethod" column="opt_method" jdbcType="VARCHAR"/>
            <result property="requestParam" column="request_param" jdbcType="VARCHAR"/>
            <result property="responseData" column="response_data" jdbcType="VARCHAR"/>
            <result property="ipSource" column="ip_source" jdbcType="VARCHAR"/>
            <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,opt_uri,
        opt_type,opt_desc,opt_module,
        opt_method,request_param,response_data,
        ip_source,ip_address,create_user,
        create_time
    </sql>

    <select id="selectOperationLogsBackDTOCount" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            tb_operation_log
        <where>
            1 = 1
            <if test="condition.userId != null">
                AND user_id = #{condition.userId}
            </if>
            <if test="condition.categoryId != null">
                AND opt_type = #{condition.categoryId}
            </if>
            <if test="condition.startTime != null">
                AND create_time >= #{condition.startTime}
            </if>
            <if test="condition.endTime != null">
                AND create_time &lt;= #{condition.endTime}
            </if>
            <if test="condition.keywords != null and condition.keywords != ''">
                AND opt_module = #{condition.keywords}
            </if>
        </where>
    </select>

    <select id="selectOperationLogsBackDTO" resultType="com.iksling.blog.dto.OperationLogsBackDTO">
        SELECT
            ol.id,ol.user_id,ua.username,
            ol.opt_uri,ol.opt_type,ol.opt_desc,
            ol.opt_module,ol.opt_method,ol.request_param,
            ol.response_data,ol.ip_source,ol.ip_address,
            ol.create_time
        FROM
            tb_operation_log ol
        LEFT JOIN tb_user_auth ua ON ol.user_id = ua.user_id
        <where>
            1 = 1
            <if test="condition.userId != null">
                AND ol.user_id = #{condition.userId}
            </if>
            <if test="condition.categoryId != null">
                AND ol.opt_type = #{condition.categoryId}
            </if>
            <if test="condition.startTime != null">
                AND ol.create_time >= #{condition.startTime}
            </if>
            <if test="condition.endTime != null">
                AND ol.create_time &lt;= #{condition.endTime}
            </if>
            <if test="condition.keywords != null and condition.keywords != ''">
                AND ol.opt_module = #{condition.keywords}
            </if>
        </where>
        ORDER BY
            ol.id DESC
        LIMIT
            #{condition.current}, #{condition.size}
    </select>
</mapper>
