<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.ResourceMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.Resource">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="resourceUri" column="resource_uri" jdbcType="VARCHAR"/>
            <result property="resourceName" column="resource_name" jdbcType="VARCHAR"/>
            <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
            <result property="isDisabled" column="is_disabled" jdbcType="BOOLEAN"/>
            <result property="isAnonymous" column="is_anonymous" jdbcType="BOOLEAN"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="ResourceRoleMap" type="com.iksling.blog.pojo.ResourceRole">
        <id column="id" property="id"/>
        <result property="resourceUri" column="resource_uri"/>
        <result property="requestMethod" column="request_method" />
        <result property="isDisabled" column="is_disabled"/>
        <result property="isAnonymous" column="is_anonymous"/>
        <collection property="roleList" ofType="java.lang.String">
            <constructor>
                <arg column="role_name"/>
            </constructor>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,parent_id,
        resource_uri,resource_name,request_method,
        is_disabled,is_anonymous,create_user,
        create_time,update_user,update_time
    </sql>

    <select id="listResourceRoles" resultMap="ResourceRoleMap">
        select
            re.id, re.resource_uri, re.request_method,
            re.is_disabled, re.is_anonymous, r.role_name
        from
            tb_resource re
        left join tb_role_resource rre on re.id = rre.resource_id
        left join tb_role r on rre.role_id = r.id
        where
            re.parent_id != 0
    </select>
</mapper>
