<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.Role">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="roleDesc" column="role_desc" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="roleWeight" column="role_weight" jdbcType="INTEGER"/>
            <result property="disabledFlag" column="disabled_flag" jdbcType="BOOLEAN"/>
            <result property="deletableFlag" column="deletable_flag" jdbcType="BOOLEAN"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="RolesBackDTOMap" type="com.iksling.blog.dto.RolesBackDTO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="role_desc" property="roleDesc"/>
        <result column="role_name" property="roleName"/>
        <result column="role_weight" property="roleWeight"/>
        <result column="disabled_flag" property="disabledFlag"/>
        <result column="deletable_flag" property="deletableFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="user_count" property="userCount"/>
        <collection property="menuIdList" ofType="java.lang.Integer">
            <constructor>
                <arg column="menu_id"/>
            </constructor>
        </collection>
        <collection property="resourceIdList" ofType="java.lang.Integer">
            <constructor>
                <arg column="resource_id"/>
            </constructor>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,role_desc,
        role_name,role_weight,disabled_flag,
        deletable_flag,create_user,create_time,
        update_user,update_time
    </sql>

    <select id="listLoginRoleByUserId" resultType="com.iksling.blog.pojo.LoginRole">
        SELECT
            ur.user_id,r.role_name,r.role_weight
        FROM
            tb_user_role ur
        LEFT JOIN tb_role r ON ur.role_id = r.id
        WHERE
            ur.user_id = #{userId}
            AND r.disabled_flag = false
        ORDER BY
            r.role_weight ASC
    </select>

    <select id="listRolesBackDTO" resultType="com.iksling.blog.dto.RolesBackDTO">
        SELECT
            r.id,r.user_id,r.role_desc,
            r.role_name,r.role_weight,r.disabled_flag,
            r.deletable_flag,r.create_time,COALESCE(uc.user_count, 0) user_count,
            rm.menu_id menuIdList,rr.resource_id resourceIdList
        FROM
            (
                SELECT
                    id,user_id,role_desc,
                    role_name,role_weight,disabled_flag,
                    deletable_flag,create_time
                FROM
                    tb_role
                    <where>
                        <if test="keywords != null and keywords != ''">
                            role_name like concat('%', #{keywords}, '%')
                        </if>
                    </where>
             ) r
        LEFT JOIN (SELECT role_id, GROUP_CONCAT(menu_id) menu_id FROM tb_role_menu GROUP BY role_id) rm ON r.id = rm.role_id
        LEFT JOIN (SELECT role_id, GROUP_CONCAT(resource_id) resource_id FROM tb_role_resource GROUP BY role_id) rr ON r.id = rr.role_id
        LEFT JOIN (SELECT role_id, count( role_id ) user_count FROM tb_user_role GROUP BY role_id ) uc ON r.id = uc.role_id
        ORDER BY r.id ASC
    </select>
</mapper>
