<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.Role">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="roleDesc" column="role_desc" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="roleWeight" column="role_weight" jdbcType="INTEGER"/>
            <result property="disabledFlag" column="disabled_flag" jdbcType="BOOLEAN"/>
            <result property="deletableFlag" column="deletable_flag" jdbcType="BOOLEAN"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,role_desc,
        role_name,role_weight,disabled_flag,
        deletable_flag,create_user,create_time,
        update_user,update_time
    </sql>

    <select id="listLoginRoleByUserId" resultType="com.iksling.blog.pojo.LoginRole">
        SELECT
            r.role_name,r.role_weight
        FROM
            tb_user_role ur,
            tb_role r
        WHERE
            ur.user_id = #{userId}
            AND ur.role_id = r.id
            AND r.disabled_flag = 0
        ORDER BY
            r.role_weight ASC
    </select>
</mapper>
