<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.SystemConfigMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.SystemConfig">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="configDesc" column="config_desc" jdbcType="VARCHAR"/>
            <result property="configName" column="config_name" jdbcType="VARCHAR"/>
            <result property="configValue" column="config_value" jdbcType="VARCHAR"/>
            <result property="deletableFlag" column="deletable_flag" jdbcType="BOOLEAN"/>
            <result property="assimilateFlag" column="assimilate_flag" jdbcType="BOOLEAN"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,config_desc,
        config_name,config_value,deletable_flag,
        assimilate_flag,create_user,create_time,
        update_user,update_time
    </sql>

    <select id="selectSystemConfigsBackDTOCount" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            tb_system_config
        <where>
            <choose>
                <when test="condition.type == 11">
                    assimilate_flag = true
                </when>
                <otherwise>
                    assimilate_flag = false
                </otherwise>
            </choose>
            <if test="condition.keywords != null and condition.keywords != ''">
                AND (config_desc LIKE concat('%', #{condition.keywords}, '%') OR config_name LIKE concat('%', #{condition.keywords}, '%'))
            </if>
        </where>
    </select>

    <select id="selectSystemConfigsBackDTO" resultType="com.iksling.blog.dto.SystemConfigsBackDTO">
        SELECT
            id,userId,config_desc,
            config_name,config_value,deletable_flag,
            create_time,update_time
        FROM
            tb_system_config
        <where>
            <choose>
                <when test="condition.type == 11">
                    assimilate_flag = true
                </when>
                <otherwise>
                    assimilate_flag = false
                </otherwise>
            </choose>
            <if test="condition.keywords != null and condition.keywords != ''">
                AND (config_desc LIKE concat('%', #{condition.keywords}, '%') OR config_name LIKE concat('%', #{condition.keywords}, '%'))
            </if>
        </where>
        ORDER BY
            id DESC
        LIMIT
            #{condition.current}, #{condition.size}
    </select>
</mapper>
