<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="intro" column="intro" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="website" column="website" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="modifiedFlag" column="modified_flag" jdbcType="BOOLEAN"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,intro,email,
        avatar,gender,website,
        nickname,modified_flag,create_user,
        create_time,update_user,update_time
    </sql>

    <select id="selectUsersBackDTOCount" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            tb_user u
        LEFT JOIN tb_user_auth ua ON u.id = ua.user_id
        <where>
            <choose>
                <when test="condition.type == 7">
                    ua.deleted_flag = true
                </when>
                <otherwise>
                    ua.deleted_flag = false
                </otherwise>
            </choose>
            <if test="condition.categoryId != null">
                AND u.gender = #{condition.categoryId}
            </if>
            <if test="condition.keywords != null and condition.keywords != ''">
                AND (
                    u.nickname LIKE concat('%', #{condition.keywords}, '%') OR ua.username LIKE concat('%', #{condition.keywords}, '%')
                )
            </if>
        </where>
    </select>

    <select id="selectUsersBackDTO" resultType="com.iksling.blog.dto.UsersBackDTO">
        SELECT
            u.id,ua.username,u.intro,
            u.email,u.avatar,IF(u.gender=-1,null,u.gender) gender,
            u.website,u.nickname,u.create_time,
            u.update_time
        FROM
            tb_user u
        LEFT JOIN tb_user_auth ua ON u.id = ua.user_id
        <where>
            <choose>
                <when test="condition.type == 7">
                    ua.deleted_flag = true
                </when>
                <otherwise>
                    ua.deleted_flag = false
                </otherwise>
            </choose>
            <if test="condition.categoryId != null">
                AND u.gender = #{condition.categoryId}
            </if>
            <if test="condition.keywords != null and condition.keywords != ''">
                AND (
                    u.nickname LIKE concat('%', #{condition.keywords}, '%') OR ua.username LIKE concat('%', #{condition.keywords}, '%')
                )
            </if>
        </where>
        ORDER BY
            u.id ASC
        LIMIT
            #{condition.current}, #{condition.size}
    </select>

    <select id="selectUserOnlinesBackDTO" resultType="com.iksling.blog.dto.UserOnlinesBackDTO">
        SELECT
            u.id,u.avatar,u.nickname,
            ua.username,ll.login_time,ll.login_device,
            ll.login_method,ll.login_platform,ll.ip_source,
            ll.ip_address
        FROM
            tb_user u
        LEFT JOIN tb_user_auth ua ON u.id = ua.user_id
        LEFT JOIN tb_login_log ll ON ua.login_log_id = ll.id
        WHERE
            u.id IN
            <foreach collection="idList" item="id" index="index" open="(" separator="," close=")">
                #{id}
            </foreach>
    </select>

    <select id="selectBackUserAvatarById" resultType="java.lang.String">
        SELECT
            u.avatar
        FROM
            tb_user u
        LEFT JOIN tb_user_auth ua ON u.id = ua.user_id
        WHERE
            ua.deleted_flag = false
            <choose>
                <when test="id != null">
                    AND u.id = #{id}
                </when>
                <otherwise>
                    <choose>
                        <when test="email != null">
                            AND (
                                u.email = #{email}
                                <if test="username != null">
                                    OR ua.username = #{username}
                                </if>
                            )
                        </when>
                        <otherwise>
                            AND ua.username = #{username}
                        </otherwise>
                    </choose>
                </otherwise>
            </choose>
        LIMIT 1
    </select>
</mapper>
