<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.UserConfigMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.UserConfig">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="configDesc" column="config_desc" jdbcType="VARCHAR"/>
            <result property="configValue" column="config_value" jdbcType="VARCHAR"/>
            <result property="configName" column="config_name" jdbcType="VARCHAR"/>
            <result property="deletedFlag" column="deleted_flag" jdbcType="BOOLEAN"/>
            <result property="deletableFlag" column="deletable_flag" jdbcType="BOOLEAN"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,config_desc,
        config_value,config_name,deleted_flag,
        deletable_flag,create_user,create_time,
        update_user,update_time
    </sql>

    <update id="updateUserConfigsStatus">
        UPDATE
            tb_user_config
        SET
            deleted_flag = #{updateBatch.deletedFlag}
        WHERE
            id in
            <foreach collection="updateBatch.idList" item="id" index="index" open="(" separator="," close=")">
                #{id}
            </foreach>
            AND user_id != #{rootUserId}
    </update>

    <select id="listUserConfigsBackDTO" resultType="com.iksling.blog.dto.ConfigsBackDTO">
        SELECT
            uc.id,uc.user_id,ua.username,
            uc.config_desc,uc.config_value,uc.config_name,
            uc.deletable_flag,uc.create_time,uc.update_time
        FROM
            tb_user_config uc
        LEFT JOIN tb_user_auth ua ON uc.user_id = ua.user_id
        <where>
            1 = 1
            <if test="condition.userId != null">
                AND uc.user_id = #{condition.userId}
            </if>
            <if test="roleWeight > 200">
                AND uc.user_id = #{userId}
            </if>
            <if test="condition.deletedFlag != null">
                AND uc.deleted_flag = #{condition.deletedFlag}
            </if>
            <if test="condition.keywords != null and condition.keywords.trim() != ''">
                AND (
                    uc.config_name like concat('%', #{condition.keywords.trim()}, '%')
                    OR
                    uc.config_desc like concat('%', #{condition.keywords.trim()}, '%')
                )
            </if>
        </where>
        ORDER BY
            uc.id DESC
        LIMIT
            #{condition.current}, #{condition.size}
    </select>
</mapper>
