<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iksling.blog.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.iksling.blog.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="intro" column="intro" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="website" column="website" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="deletedFlag" column="deleted_flag" jdbcType="BOOLEAN"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,intro,email,
        avatar,website,nickname,
        deleted_flag,create_user,create_time,
        update_user,update_time
    </sql>

    <select id="listUsersBackDTO" resultType="com.iksling.blog.dto.UsersBackDTO">
        SELECT
            u.id,ua.user_id,ua.username,
            u.intro,u.email,u.avatar,
            u.website,u.nickname,u.create_time,
            u.update_time
        FROM
            tb_user u
        LEFT JOIN tb_user_auth ua ON u.id = ua.user_id
        <where>
            1 = 1
            <if test="condition.deletedFlag != null">
                AND ua.deleted_flag = #{condition.deletedFlag}
            </if>
            <if test="condition.keywords != null">
                AND (
                        u.nickname like concat('%', #{condition.keywords}, '%') OR ua.username like concat('%', #{condition.keywords}, '%')
                    )
            </if>
        </where>
        ORDER BY
            u.id ASC
        LIMIT
            #{condition.current}, #{condition.size}
    </select>
</mapper>
